/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --title-decor: #000028;
  --accent-color: #ff0070;
  --back-image: url(/images/cover-image-dark.png);
  --header-tittle: #DB00FF;
  --card-color: #F1B2CE;
  --hover: rgba(255, 0, 112, 0.40);
  --display: block;
  --border: #ff0070;
  --header-tittle-high: #ff0070;
  --header-text: #000028;
  --header-menu: #ff0070;
  --card-tittle: #000028;
  --card: #F1B2CE;
}

.page {
  background-image: var(--back-image);
  background-color: var(--title-decor);
}

.decorated-zone::after {
  border-block-start: 1px solid var(--border);
  border-inline-end: 1px solid var(--border);
}

.decorated-zone::before {
  border-block-end: 1px solid var(--border);
  border-inline-start: 1px solid var(--border);
}

.header_tittle {
  color: var(--header-tittle);
  text-shadow: 4px 4px 0px var(--header-tittle-high);
}

.header_text {
  color: var(--header-text);
  background-color: var(--accent-color);
}

.header__theme-menu-list {
  color: var(--header-menu);
}

.header__theme-menu-button_active {
  border: 1px solid var(--header-menu);
  pointer-events: none;
}

.main__tittle {
  color: var(--header-menu);
}

.card__tittle {
  color: var(--card-tittle);
  background-color: var(--accent-color);
}

.card__text {
  color: var(--card);
}

.link {
  text-shadow: 2px 2px 0px var(--accent-color);
}

.card__tittle__stretch {
  color: var(--card-tittle);
  background-color: var(--accent-color);
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: var(--card-color);
}

.link:focus {
  outline: none;
  border: none;
}

.link:focus-visible {
  outline: 1px solid var(--card-color);
}

.header__theme-menu-item:hover {
  outline: 1px solid var(--hover);
}

.header__theme-menu-item:focus {
  outline: none;
  border: none;
}

.header__theme-menu-item:focus-visible {
  border-bottom: 1px solid var(--header-menu);
}

.circle {
  display: var(--display);
}

@media (width < 1024px) {
  .header_tittle {
    text-shadow: 4px 4px 0px var(--accent-color);
  }
}
