/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --title-decor: #000028;
  --accent-color: #ff0070;
  --back-image: url(../images/cover-image-dark.png);
  --header-tittle: #DB00FF;
  --card-color: #F1B2CE;
  --hover: rgba(255, 0, 112, 0.40);
  --display: block;
  --border: #ff0070;
  --header-tittle-high: #ff0070;
  --header-text: #000028;
  --header-menu: #ff0070;
  --card-tittle: #000028;
  --card: #F1B2CE;
}

